



.cart{
    width: 500px;
    float: right;
    text-align: center;
    border: 1px solid black;
    overflow: scroll;
    height: 100%;
    overflow-y: scroll;
}

.cartimg > img{
    width: 200px;
}