<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <title>About | eGarage</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'garage/style.css' %}" />
    </head>
    <body>
        <header class="header">


            <!-- nav bar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid justify-content-center">
                    <a class="navbar-brand" href="/"><img src="{%static 'garage/images/eGarage-logo.png'%}" alt=""></a>
    
                </div>
            </nav>
        </header>
                    <div class="container">
                        <img src="{% static '' %}" alt="">
                        <h2>
                            About section | eGarage
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore omnis expedita tempore fugit praesentium a
                            molestiae fugiat eligendi error eos quo exercitationem minus nulla soluta perspiciatis, qui, libero debitis
                            maiores sed quibusdam reprehenderit explicabo quod, consequatur natus? Numquam porro facilis repudiandae
                            nostrum quia enim! Beatae dolore accusamus deleniti magnam reprehenderit quibusdam illum amet reiciendis
                            consequatur vitae nulla quos doloribus fuga vel fugit culpa architecto error, et eveniet modi. Nesciunt
                            earum hic maxime? Quia dignissimos repellat asperiores eius, dolore odit mollitia exercitationem earum omnis
                            nemo recusandae deserunt sunt ut iure perferendis, ea, est natus doloremque voluptate. Voluptatibus modi
                            tempore, minima numquam nam nostrum in, amet quibusdam maiores dolore, enim nulla quo excepturi. Nemo
                            distinctio cumque maiores nesciunt repudiandae nostrum quis adipisci repellendus aspernatur ut laboriosam
                            numquam, quam tempore sit, at quidem veritatis fugit, earum corporis eaque! Repellat iusto consequatur
                            nesciunt animi illum voluptatem adipisci. Deleniti unde officiis maiores quis sit assumenda libero est
                            repellendus architecto labore, explicabo repudiandae! Libero consectetur molestiae soluta deserunt quidem
                            quisquam. Cupiditate sunt quaerat quas sit provident nesciunt ipsa, deleniti voluptate, est labore
                            perferendis officia officiis! Velit nulla provident quasi quaerat veniam et dolores officia quidem
                            perspiciatis. Dolor expedita atque laudantium temporibus, itaque vero. Aperiam perspiciatis earum
                            reprehenderit ipsam maxime inventore nesciunt ad cumque quae quis, atque nihil dignissimos, velit facere
                            fugiat accusamus! Corrupti nihil veniam, iste facere eaque alias reprehenderit aut consequatur! Magni
                            molestias sequi expedita, provident repellendus maxime corrupti illo quibusdam voluptas id minus nostrum
                            aliquid, natus odio ipsum. Ratione explicabo, harum cupiditate praesentium quae alias autem et eum? Possimus
                            eveniet ad odit alias quo aut nesciunt veniam unde fugit nulla, esse dolore placeat expedita laborum.
                            Assumenda accusamus numquam maiores facilis, inventore libero itaque hic tempora doloribus dolor dolores
                            culpa, excepturi obcaecati earum! Recusandae beatae fugit molestias eos accusantium. Esse est minima, culpa
                            ratione repellendus beatae alias adipisci voluptatum optio aliquid facere praesentium laboriosam accusamus
                            eius quos? Eius corporis, deserunt sapiente modi ad deleniti quasi. Ullam quasi libero commodi earum beatae
                            exercitationem sequi doloremque atque ipsum rem laboriosam inventore in, asperiores reiciendis quod
                            obcaecati provident placeat assumenda vero optio repudiandae. Odit minus cumque, libero harum suscipit quia
                            sunt nihil. Alias quam neque autem mollitia vitae corporis ratione atque, incidunt corrupti voluptates vel
                            ea consequuntur distinctio tempore! Voluptatum iure voluptate doloribus, quos laudantium eveniet, quae rerum
                            vero eius numquam aperiam incidunt ducimus dolorem! Labore quae ipsam nobis, perspiciatis, quibusdam
                            laboriosam doloremque repellat ullam eum enim rem?
                        </p>
                    </div>
                  
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                            crossorigin="anonymous"></script>
                </body>
            </html>
