<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>add services</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Select Your Services Here</h1>
    <hr/>
    
    <form action='myservices/' method='post'>
        {% csrf_token %}
    <select name='services1'>
        <option disable='true' selected> Select Service</option>
        <option>Tire Repairs</option>
        <option>Brakes</option>
        <option>Seat belts</option>
        <option>Fuel System</option>
        <option>Exhaust</option>
        <option>oil filter check</option>
        <option>Brake</option>
        <option>Battery check</option>
        <option>Steering check</option>
        <option>Light check</option>
        <option>Battery replacement</option>
        <option>Air conditioning repairs</option>
    </select>
    <hr/>
    <select name='services2'>
        <option disable='true' selected> Select Service</option>
        <option>Tire Repairs</option>
        <option>Brakes</option>
        <option>Seat belts</option>
        <option>Fuel System</option>
        <option>Exhaust</option>
        <option>oil filter check</option>
        <option>Brake</option>
        <option>Battery check</option>
        <option>Steering check</option>
        <option>Light check</option>
        <option>Battery replacement</option>
        <option>Air conditioning repairs</option>
    </select>

    <hr/>

    <select name='services3'>
        <option disable='true' selected> Select Service</option>
        <option>Tire Repairs</option>
        <option>Brakes</option>
        <option>Seat belts</option>
        <option>Fuel System</option>
        <option>Exhaust</option>
        <option>oil filter check</option>
        <option>Brake</option>
        <option>Battery check</option>
        <option>Steering check</option>
        <option>Light check</option>
        <option>Battery replacement</option>
        <option>Air conditioning repairs</option>
    </select>

    <hr/>

    <select name='services4'>
        <option disable='true' selected> Select Service</option>
        <option>Tire Repairs</option>
        <option>Brakes</option>
        <option>Seat belts</option>
        <option>Fuel System</option>
        <option>Exhaust</option>
        <option>oil filter check</option>
        <option>Brake</option>
        <option>Battery check</option>
        <option>Steering check</option>
        <option>Light check</option>
        <option>Battery replacement</option>
        <option>Air conditioning repairs</option>
    </select>

    <hr/>

    <select name='services5'>
        <option disable='true' selected> Select Service</option>
        <option>Tire Repairs</option>
        <option>Brakes</option>
        <option>Seat belts</option>
        <option>Fuel System</option>
        <option>Exhaust</option>
        <option>oil filter check</option>
        <option>Brake</option>
        <option>Battery check</option>
        <option>Steering check</option>
        <option>Light check</option>
        <option>Battery replacement</option>
        <option>Air conditioning repairs</option>
    </select>

    <hr/>

    <select name='services6'>
        <option disable='true' selected> Select Service</option>
        <option>Tire Repairs</option>
        <option>Brakes</option>
        <option>Seat belts</option>
        <option>Fuel System</option>
        <option>Exhaust</option>
        <option>oil filter check</option>
        <option>Brake</option>
        <option>Battery check</option>
        <option>Steering check</option>
        <option>Light check</option>
        <option>Battery replacement</option>
        <option>Air conditioning repairs</option>
    </select>

    <hr/>

    <select name='services7'>
        <option disable='true' selected> Select Service</option>
        <option>Tire Repairs</option>
        <option>Brakes</option>
        <option>Seat belts</option>
        <option>Fuel System</option>
        <option>Exhaust</option>
        <option>oil filter check</option>
        <option>Brake</option>
        <option>Battery check</option>
        <option>Steering check</option>
        <option>Light check</option>
        <option>Battery replacement</option>
        <option>Air conditioning repairs</option>
    </select>

    <hr/>

    <select name='services8'>
        <option disable='true' selected> Select Service</option>
        <option>Tire Repairs</option>
        <option>Brakes</option>
        <option>Seat belts</option>
        <option>Fuel System</option>
        <option>Exhaust</option>
        <option>oil filter check</option>
        <option>Brake</option>
        <option>Battery check</option>
        <option>Steering check</option>
        <option>Light check</option>
        <option>Battery replacement</option>
        <option>Air conditioning repairs</option>
    </select>

    <hr/>

    <select name='services9'>
        <option disable='true' selected> Select Service</option>
        <option>Tire Repairs</option>
        <option>Brakes</option>
        <option>Seat belts</option>
        <option>Fuel System</option>
        <option>Exhaust</option>
        <option>oil filter check</option>
        <option>Brake</option>
        <option>Battery check</option>
        <option>Steering check</option>
        <option>Light check</option>
        <option>Battery replacement</option>
        <option>Air conditioning repairs</option>
    </select>

    <hr/>

    <select name='services10'>
        <option disable='true' selected> Select Service</option>
        <option>Tire Repairs</option>
        <option>Brakes</option>
        <option>Seat belts</option>
        <option>Fuel System</option>
        <option>Exhaust</option>
        <option>oil filter check</option>
        <option>Brake</option>
        <option>Battery check</option>
        <option>Steering check</option>
        <option>Light check</option>
        <option>Battery replacement</option>
        <option>Air conditioning repairs</option>
    </select>

    <hr/>

    <select name='services11'>
        <option disable='true' selected> Select Service</option>
        <option>Tire Repairs</option>
        <option>Brakes</option>
        <option>Seat belts</option>
        <option>Fuel System</option>
        <option>Exhaust</option>
        <option>oil filter check</option>
        <option>Brake</option>
        <option>Battery check</option>
        <option>Steering check</option>
        <option>Light check</option>
        <option>Battery replacement</option>
        <option>Air conditioning repairs</option>
    </select>

    <hr/>

    <select name='services12'>
        <option disable='true' selected> Select Service</option>
        <option>Tire Repairs</option>
        <option>Brakes</option>
        <option>Seat belts</option>
        <option>Fuel System</option>
        <option>Exhaust</option>
        <option>oil filter check</option>
        <option>Brake</option>
        <option>Battery check</option>
        <option>Steering check</option>
        <option>Light check</option>
        <option>Battery replacement</option>
        <option>Air conditioning repairs</option>

    </select>

    <hr/>

    <input type='submit'value='add services'>
    
</form>
    </body>
</html>