<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>fetch services</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Your Selected Services are</h1>

       {{service1}}
       <hr/>

       {{service2}}
       <hr/>
       {{service3}}
       <hr/>
       {{service4}}
       <hr/>
       {{service5}}
       <hr/>
       {{service6}}
       <hr/>
       {{service7}}
       <hr/>
       {{service8}}
       <hr/>
       {{service9}}
       <hr/>
       {{service10}}
       <hr/>
       {{service11}}
       <hr/>
       {{service12}}
       <hr/>

    </body>
</html>